branches/dev/schema/clindb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Basic data types -->

  <xs:simpleType name="genderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M"/>
      <xs:enumeration value="F"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="textType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="varcharType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
      <xs:minLength value="1"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="shortvarcharType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="31"/>
      <xs:minLength value="1"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="intType">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="decimalType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>

  <xs:simpleType name="dateType">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="yearType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tinyintType">
    <xs:restriction base="xs:byte"/>
  </xs:simpleType>

  <!-- Types corresponding to database tables -->

  <xs:complexType name="adverseEventType">
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="start_date" type="dateType" use="required"/>
    <xs:attribute name="end_date" type="dateType"/>
    <xs:attribute name="notes" type="textType"/>
    <xs:attribute name="severity" type="varcharType"/>
    <xs:attribute name="action" type="varcharType"/>
    <xs:attribute name="outcome" type="varcharType"/>
    <xs:attribute name="trial_related" type="varcharType"/>
  </xs:complexType>

  <xs:complexType name="comorbidityType">
    <xs:attribute name="condition_name" type="varcharType" use="required"/>
    <xs:attribute name="date" type="dateType"/>
  </xs:complexType>

  <xs:complexType name="diagnosisType">
    <xs:attribute name="condition_name" type="varcharType" use="required"/>
    <xs:attribute name="confidence" type="varcharType"/>
    <xs:attribute name="date" type="dateType"/>
    <xs:attribute name="previous_episodes" type="tinyintType"/>
    <xs:attribute name="previous_course" type="varcharType"/>
    <xs:attribute name="previous_duration_months" type="decimalType"/>
    <xs:attribute name="disease_staging" type="varcharType"/>
    <xs:attribute name="disease_extent" type="varcharType"/>
  </xs:complexType>

  <xs:complexType name="diseaseEventType">
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="start_date" type="dateType" use="required"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="drugType">
    <xs:attribute name="name" type="varcharType" use="required"/>
    <xs:attribute name="dose" type="decimalType"/>
    <xs:attribute name="dose_unit" type="varcharType"/>
    <xs:attribute name="dose_freq" type="varcharType"/>
    <xs:attribute name="dose_duration" type="decimalType"/>
    <xs:attribute name="duration_unit" type="varcharType"/>
    <xs:attribute name="dose_regime" type="varcharType"/>
    <xs:attribute name="locale" type="varcharType"/>
  </xs:complexType>

  <!-- Note that this is recursive -->
  <xs:complexType name="testResultType">
    <xs:sequence>
      <xs:element name="ChildTestResults" type="testResultGroup" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="test" type="varcharType" use="required"/>
    <xs:attribute name="value" type="varcharType"/>
    <xs:attribute name="date" type="dateType" use="required"/>
  </xs:complexType>

  <xs:complexType name="riskFactorType">
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="emergentGroupType">
    <xs:attribute name="name" type="varcharType" use="required"/>
    <xs:attribute name="basis" type="varcharType" use="required"/>
    <xs:attribute name="type" type="varcharType" use="required"/>
  </xs:complexType>

  <xs:complexType name="priorGroupType">
    <xs:attribute name="name" type="varcharType" use="required"/>
    <xs:attribute name="type" type="varcharType" use="required"/>
  </xs:complexType>

  <xs:complexType name="systemInvolvementType">
    <xs:attribute name="type" type="varcharType" use="required"/>
  </xs:complexType>

  <xs:complexType name="clinicalFeatureType">
    <xs:attribute name="type" type="varcharType" use="required"/>
  </xs:complexType>

  <xs:complexType name="sampleType">
    <xs:sequence>
      <xs:element name="SampleDataFiles" type="sampleDataFileGroup" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="varcharType" use="required"/>
    <xs:attribute name="cell_type" type="varcharType" use="required"/>
    <xs:attribute name="material_type" type="varcharType" use="required"/>
    <xs:attribute name="num_aliquots" type="intType"/>
    <xs:attribute name="freezer_location" type="varcharType"/>
    <xs:attribute name="freezer_box" type="shortvarcharType"/>
    <xs:attribute name="box_slot" type="shortvarcharType"/>
    <xs:attribute name="concentration" type="decimalType"/>
    <xs:attribute name="purity" type="decimalType"/>
    <xs:attribute name="cell_purity" type="decimalType"/>
    <xs:attribute name="quality_score" type="varcharType"/>
    <xs:attribute name="has_expired" type="tinyintType"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="sampleDataFileType">
    <xs:attribute name="filename" type="varcharType" use="required"/>
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="assayBatchType">
    <xs:sequence>
      <xs:element name="Assays" type="assayGroup" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="date" type="dateType" use="required"/>
    <xs:attribute name="name" type="shortvarcharType" use="required"/>
    <xs:attribute name="operator" type="varcharType"/>
    <xs:attribute name="platform" type="varcharType" use="required"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="assayType">
    <xs:sequence>
      <xs:element name="AssayQcValues" type="assayQcValueGroup" minOccurs="0"/>
      <xs:element name="Channels" type="channelGroup"/>
    </xs:sequence>
    <xs:attribute name="identifier" type="varcharType" use="required"/>
    <xs:attribute name="filename" type="varcharType"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="assayQcValueType">
    <xs:attribute name="name" type="varcharType" use="required"/>
    <xs:attribute name="value" type="varcharType" use="required"/>
    <xs:attribute name="type" type="varcharType"/>
  </xs:complexType>

  <!-- Note the many-to-many relationship here, through sample_ref -->
  <xs:complexType name="channelType">
    <xs:attribute name="label" type="varcharType" use="required"/>
    <xs:attribute name="sample_ref" type="shortvarcharType" use="required"/>
  </xs:complexType>

  <xs:complexType name="studyType">
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="external_id" type="varcharType"/>
  </xs:complexType>

  <xs:complexType name="visitType">
    <xs:sequence>
      <xs:element name="Drugs" type="drugGroup" minOccurs="0"/>
      <xs:element name="EmergentGroups" type="emergentGroupGroup" minOccurs="0"/>
      <xs:element name="PhenotypeQuantities" type="phenotypeQuantityGroup" minOccurs="0"/>
      <xs:element name="Samples" type="sampleGroup" minOccurs="0"/>
      <xs:element name="TestResults" type="testResultGroup" minOccurs="0"/>
      <xs:element name="VisitDataFiles" type="visitDataFileGroup" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="date" type="dateType" use="required"/>
    <xs:attribute name="notes" type="textType"/>
    <xs:attribute name="disease_activity" type="varcharType"/>
    <xs:attribute name="nominal_timepoint" type="varcharType"/>
    <xs:attribute name="treatment_escalation" type="tinyintType"/>
    <xs:attribute name="has_infection" type="tinyintType"/>
  </xs:complexType>

  <xs:complexType name="visitDataFileType">
    <xs:attribute name="filename" type="varcharType" use="required"/>
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="phenotypeQuantityType">
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="value" type="decimalType" use="required"/>
  </xs:complexType>

  <xs:complexType name="graftFailureType">
    <xs:attribute name="date" type="dateType" use="required"/>
    <xs:attribute name="reason" type="varcharType"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="transplantType">
    <xs:sequence>
      <xs:element name="GraftFailures" type="graftFailureGroup" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="date" type="dateType"/>
    <xs:attribute name="number" type="intType"/>
    <xs:attribute name="sensitisation_status" type="varcharType"/>
    <xs:attribute name="recip_cmv" type="tinyintType"/>
    <xs:attribute name="delayed_graft_function" type="tinyintType"/>
    <xs:attribute name="days_delayed_function" type="intType"/>
    <xs:attribute name="organ_type" type="varcharType" use="required"/>
    <xs:attribute name="mins_cold_ischaemic" type="intType"/>
    <xs:attribute name="reperfusion_quality" type="varcharType"/>
    <xs:attribute name="hla_mismatch" type="varcharType"/>
    <xs:attribute name="donor_type" type="varcharType" use="required"/>
    <xs:attribute name="donor_age" type="intType"/>
    <xs:attribute name="donor_cause_of_death" type="varcharType"/>
    <xs:attribute name="donor_cmv" type="tinyintType"/>
  </xs:complexType>

  <xs:complexType name="priorObservationType">
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="value" type="varcharType"/>
    <xs:attribute name="date" type="dateType"/>
  </xs:complexType>

  <xs:complexType name="priorTreatmentType">
    <xs:sequence>
      <xs:element name="Drugs" type="drugGroup" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="varcharType" use="required"/>
    <xs:attribute name="value" type="varcharType"/>
    <xs:attribute name="notes" type="textType"/>
  </xs:complexType>

  <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element name="AdverseEvents" type="adverseEventGroup" minOccurs="0"/>
      <xs:element name="ClinicalFeatures" type="clinicalFeatureGroup" minOccurs="0"/>
      <xs:element name="Comorbidities" type="comorbidityGroup" minOccurs="0"/>
      <xs:element name="Diagnoses" type="diagnosisGroup" minOccurs="0"/>
      <xs:element name="DiseaseEvents" type="diseaseEventGroup" minOccurs="0"/>
      <xs:element name="PriorGroups" type="priorGroupGroup" minOccurs="0"/>
      <xs:element name="PriorObservations" type="priorObservationGroup" minOccurs="0"/>
      <xs:element name="PriorTreatments" type="priorTreatmentGroup" minOccurs="0"/>
      <xs:element name="RiskFactors" type="riskFactorGroup" minOccurs="0"/>
      <xs:element name="Studies" type="studyGroup" minOccurs="0"/>
      <xs:element name="SystemInvolvements" type="systemInvolvementGroup" minOccurs="0"/>
      <xs:element name="Transplants" type="transplantGroup" minOccurs="0"/>
      <xs:element name="Visits" type="visitGroup" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="year_of_birth" type="yearType"/>
    <xs:attribute name="sex" type="genderType"/>
    <xs:attribute name="trial_id" type="varcharType" use="required"/>
    <xs:attribute name="ethnicity" type="varcharType"/>
    <xs:attribute name="home_centre" type="varcharType"/>
    <xs:attribute name="entry_date" type="dateType" use="required"/>
    <xs:attribute name="notes" type="textType"/>
    <xs:attribute name="study_type" type="varcharType"/>
  </xs:complexType>

  <!-- Node group types -->

  <xs:complexType name="patientGroup">
    <xs:sequence>
      <xs:element name="Patient" type="patientType" maxOccurs="unbounded">
        <xs:key name="transplantDateKey">
          <xs:selector xpath=".//Transplant"/>
          <xs:field xpath="@date"/>
        </xs:key>
        <xs:key name="visitDateKey">
          <xs:selector xpath=".//Visit"/>
          <xs:field xpath="@date"/>
        </xs:key>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="priorTreatmentGroup">
    <xs:sequence>
      <xs:element name="PriorTreatment" type="priorTreatmentType" minOccurs="0" maxOccurs="unbounded">
        <xs:key name="priorTreatmentDrugNameKey">
          <xs:selector xpath=".//Drug"/>
          <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="priorTreatmentTypeKey">
          <xs:selector xpath=".//PriorTreatment"/>
          <xs:field xpath="@type"/>
        </xs:key>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="priorObservationGroup">
    <xs:sequence>
      <xs:element name="PriorObservation" type="priorObservationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clinicalFeatureGroup">
    <xs:sequence>
      <xs:element name="ClinicalFeature" type="clinicalFeatureType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="systemInvolvementGroup">
    <xs:sequence>
      <xs:element name="SystemInvolvement" type="systemInvolvementType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="riskFactorGroup">
    <xs:sequence>
      <xs:element name="RiskFactor" type="riskFactorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="studyGroup">
    <xs:sequence>
      <xs:element name="Study" type="studyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="visitGroup">
    <xs:sequence>
      <xs:element name="Visit" type="visitType" minOccurs="0" maxOccurs="unbounded">
        <xs:key name="visitDrugNameKey">
          <xs:selector xpath=".//Drug"/>
          <xs:field xpath="@name"/>
        </xs:key>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="diseaseEventGroup">
    <xs:sequence>
      <xs:element name="DiseaseEvent" type="diseaseEventType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="comorbidityGroup">
    <xs:sequence>
      <xs:element name="Comorbidity" type="comorbidityType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="adverseEventGroup">
    <xs:sequence>
      <xs:element name="AdverseEvent" type="adverseEventType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="diagnosisGroup">
    <xs:sequence>
      <xs:element name="Diagnosis" type="diagnosisType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="drugGroup">
    <xs:sequence>
      <xs:element name="Drug" type="drugType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="testResultGroup">
    <xs:sequence>
      <xs:element name="TestResult" type="testResultType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transplantGroup">
    <xs:sequence>
      <xs:element name="Transplant" type="transplantType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="graftFailureGroup">
    <xs:sequence>
      <xs:element name="GraftFailure" type="graftFailureType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="emergentGroupGroup">
    <xs:sequence>
      <xs:element name="EmergentGroup" type="emergentGroupType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="priorGroupGroup">
    <xs:sequence>
      <xs:element name="PriorGroup" type="priorGroupType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sampleGroup">
    <xs:sequence>
      <xs:element name="Sample" type="sampleType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sampleDataFileGroup">
    <xs:sequence>
      <xs:element name="SampleDataFile" type="sampleDataFileType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="visitDataFileGroup">
    <xs:sequence>
      <xs:element name="VisitDataFile" type="visitDataFileType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phenotypeQuantityGroup">
    <xs:sequence>
      <xs:element name="PhenotypeQuantity" type="phenotypeQuantityType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assayBatchGroup">
    <xs:sequence>
      <xs:element name="AssayBatch" type="assayBatchType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assayGroup">
    <xs:sequence>
      <xs:element name="Assay" type="assayType" minOccurs="0" maxOccurs="unbounded">
        <xs:key name="assayQcValueNameKey">
          <xs:selector xpath=".//AssayQcValue"/>
          <xs:field xpath="@name"/>
        </xs:key>
        <xs:key name="channelLabelKey">
          <xs:selector xpath=".//Channel"/>
          <xs:field xpath="@label"/>
        </xs:key>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assayQcValueGroup">
    <xs:sequence>
      <xs:element name="AssayQcValue" type="assayQcValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="channelGroup">
    <xs:sequence>
      <xs:element name="Channel" type="channelType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Document root element and global unique key fields -->

  <xs:element name="ClinStudyML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AssayBatches" type="assayBatchGroup" minOccurs="0"/>
        <xs:element name="Patients" type="patientGroup" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="patientHospitalKey">
      <xs:selector xpath=".//Patient"/>
      <xs:field xpath="@hospital_id"/>
    </xs:unique>
    <xs:key name="patientTrialKey">
      <xs:selector xpath=".//Patient"/>
      <xs:field xpath="@trial_id"/>
    </xs:key>
    <xs:key name="sampleNameKey">
      <xs:selector xpath=".//Sample"/>
      <xs:field xpath="@name"/>
    </xs:key>
    <xs:key name="sampleDataFileKey">
      <xs:selector xpath=".//SampleDataFile"/>
      <xs:field xpath="@filename"/>
    </xs:key>
    <xs:key name="visitDataFileKey">
      <xs:selector xpath=".//VisitDataFile"/>
      <xs:field xpath="@filename"/>
    </xs:key>
    <xs:key name="assayBatchNameKey">
      <xs:selector xpath=".//AssayBatch"/>
      <xs:field xpath="@name"/>
    </xs:key>
    <xs:key name="assayIdentifierKey">
      <xs:selector xpath=".//Assay"/>
      <xs:field xpath="@identifier"/>
    </xs:key>
    <xs:unique name="assayFilenameKey">
      <xs:selector xpath=".//Assay"/>
      <xs:field xpath="@filename"/>
    </xs:unique>
    <xs:keyref name="sampleNameKeyRef" refer="sampleNameKey">
      <xs:selector xpath=".//Channel"/>
      <xs:field xpath="@sample_ref"/>
    </xs:keyref>
  </xs:element>

</xs:schema>
